.row{
  padding-top: 2em;
}

p {
  background-color: #FBC02D;
  /* padding: 1.5em; */
}

div.box{
  background-color: #fff;
  /* padding: 1.5em; */
  /* margin:2em; */
}

.box-inner{
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #FBC02D;
  height: 200px;
}